@import url('https://fonts.googleapis.com/css?family=Indie+Flower')
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

global-reset()

body
  color:  black
  // font-family: 'Indie Flower', cursive; 
  font-family: 'Ubuntu', sans-serif
  background-color: #e1f5fe


