@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
body {
  color: #000;
  font-family: 'Ubuntu', sans-serif;
  background-color: #e1f5fe;
}
