@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
.bodyWrapper {
  display: flex;
  flex-direction: row;
}
.leftColumn,
.rightColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #d3d3d3;
}
.middleColumn {
  flex: 3;
  text-align: center;
  background-image: url("../img/background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.articleWrapper {
  border-bottom: 1px solid #ff4500;
}
.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;
}
.newsTitle {
  text-decoration: none;
}
.newsDiv {
  text-align: center;
}
.image {
  margin-top: 5px;
}
.image--line {
  max-height: 50px;
}
