@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
.body-wrapper {
  display: flex;
  flex-direction: column;
}
.background-video {
  display: flex;
  flex-direction: row;
}
.left-empty,
.right-empty {
  flex: 1;
}
.top-video {
  flex: 4;
}
.background-video>video {
  max-height: 300px;
  overflow: auto;
}
.news-h2-wrapper {
  display: flex;
  flex-direction: row;
}
.h2-div {
  flex: 1;
}
.news-div {
  display: flex;
  flex-direction: row;
  border: 1px solid #ff0;
}
.article-wrapper {
  flex: 1 100%;
  overflow: auto;
  max-width: 20%;
}
