.logo-wrapper
  display: flex
  flex-direction: row

.logo-divs
  flex: 1
  border-bottom: 5px solid orange

.logo-edges
  flex: 5

.center-align
  text-align: center

#expanded-logo-div
  flex: 2

#randomwwd
  text-align: center
  font-size: 25px
  border-radius: 5px
  margin-top: 25px

.header-wrapper
  display: flex
  flex-direction: row
  position: fixed
  width: 99%
  top: 5px

.header-divs
  display: flex
  flex-direction: column
  flex: 1
  overflow: auto

.me
  border-radius: 50%

.header-divs-content
  width: 100%
  text-align: center

.color-one
  background-color: yellow
  padding: 0px 10px 0px 10px
  border-radius: 20px 

.color-two
  background-color: red
  padding: 0px 10px 0px 10px
  border-radius: 20px 

.blank
  opacity: 0

.span-width
  background-color: #FB6422
  border-radius: 20px

.social-media-div
  display: flex
  flex: 1
  flex-direction: row
  overflow: auto

.social-media-img
  display: flex
  flex-direction: row
  flex: 1

.social-media
  flex: 1
  max-height: 30%
  align-self: center

.logo
  flex: 1
  align-self: center
  margin: 0px 0px 0px 10px
  max-width: 100%

.logo-img
  max-width: 100%
  align-self: center

#span-description
  text-align: center
  font-size: 25px
  border-radius: 5px