
@import url('https://fonts.googleapis.com/css?family=Indie+Flower')

global-reset()

.wrapper
  display: flex
  flex-direction: row

.searchWrapper
  display: flex
  flex-direction: row
  padding: 0% 25% 0% 25%

.searchBars
  flex: 1 100%

#search
  text-align: center
  border: 1px solid orangered
  color: orangered

.nav 
  display: flex
  flex-direction: row
  max-height: 75px
  overflow: auto
  padding: 0% 30% 0% 30%
   
.nav_item 
  list-style: none
  max-height: 100%
  text-align: center
  flex: 1 100%

.nav_item__line
  text-decoration: none
  overflow: auto

a.nav_item__line>img 
  max-height: 85%
  max-width: 85%
  color: orangered