@import url('https://fonts.googleapis.com/css?family=Indie+Flower')

global-reset()

body
  color: orangered 
  font-family: 'Indie Flower', cursive; 

.header, .main, .nav, .aside, .footer 
    flex: 1 100%;
