@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
body {
  background-color: #000;
  color: #ff4500;
  font-family: 'Indie Flower', cursive;
}
.header,
.main,
.nav,
.aside,
.footer {
  flex: 1 100%;
}
